body{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #000000;
    color: white;
}

.row>h2{
    text-align: center;
    margin-bottom: 50px;
}

h2 em{
    font-weight: 700;
}

.col-lg-6{
    text-align: center;
}

.footer {
    margin: 18px auto;
    font-size: 18px;
    color: lightgray;
    text-align: center;
}

div.col-lg-6 p{
    padding: 30px 20px 0;
    text-align: center;
    font-size: 16px;
}

.footer p {
    margin-top: 80px;
}