.container{
    padding: 50px 25px;
}

#slide1{
    display: block;
}

#slide2{
    display: none;
}

#slide3{
    display: none;
}

h1{
    font-weight: 800;
    margin-bottom: 15px;
}

h4, h3{
    font-weight: 600;
}

.btn-enter, .btn-danger{
    float: right;
    position: relative;
    bottom: 54px;
    margin-right: 10px;
}

.btn-enter{
    min-width: 175px;
    display: block;
}

form{
    margin: auto;
    max-width: 600px;
    padding: 0px 70px;
}

form.col-6{
    position: relative;
    left: 90px;
    top: 25px;
}

form h4{
    margin-top: 20px;
}

form h2, form h3, form h4{
    text-align: center;
}
form div{
    display: block;
}

form label{
    margin-left: 30px;
    text-align: left;
}

form input{
    float: right;
    width: 225px;
}

.button-center button{
    position: relative;
    left: 170px;
    margin: 30px 0px;
}

.right-align{
    float: right;
}

ol{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li div:last-of-type strong{
    padding-right: 20px;
}

li div:first-of-type strong{
    display: block;
}

li div:last-of-type h5{
    text-decoration: underline;
    display: inline;
    text-align: right;
}

table{
    min-width: 800px;
    margin: 40px auto;
    padding: 0px;
    text-align: center;
}

thead{
    border-bottom: 1px solid skyblue;
    font-size: 18px;
}

tbody tr td:last-of-type{
    border-left: 1px solid skyblue;
}

thead tr{
    font-weight: 800;
}

#cardInfo {
    width: 700px;
    margin: 30px auto;
}

#cardInfo p {
    display: block;
    margin-bottom: 0rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: left;
}

#cardInfo span{
    font-weight: normal;
    padding-left: 80px;
}

#cardInfo #confirm, #confirmed button{
    display: block;
    margin: auto;
    min-width: 150px;
}

#confirmed{
    display: none;
}

.shows p {
    margin: 0;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.modal-body label{
    margin-bottom: 10px;
}

h2#exampleModalLabel {
    display: inline-block;
}

.btn-primary {
    color: #fff;
    background-color: #FF734D;
    border-color: #FF734D;
}

.btn-primary:hover{
    color: #fff;
    background-color: #FF734D;
    border-color: #FF734D;
}