body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  margin: 0%;
  padding: 0%;
  height: 100vh;
  background: #FFFFFF;
  overflow: y;
}


div.logo img{
  width: 60px;
  position: relative;
  top: -8px;
  left: 20px;
}

div.anchor, div.logo {
  display: inline;
}

ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 5.5px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 110px;
  font-size: 2em;
}

li {
  display: inline;
}

li a {
  /* display: block; */
  cursor: pointer;
  color: #000000;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
}

.person img {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 50px;
  padding: 4px 0px;
  color: #ffffff;
}

li a:hover{
  background-color: rgb(225, 241, 74);
  color: #000000;
}

.btn-signin { 
  color: #ffffff; 
  /* add a function in javascript to change display to none once user sign in, then change display to initial display */
  /* display: none; */
  /* TODO: change this */
  background-color: #007bff; 
  border-color: #EEEDF2; 
  font-size: 1.5em;
  text-align: center;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  top:5px;
  right: 25px;
} 

#btn-profile{
  visibility: hidden;
  font-size: 1.5em;
  text-align: center;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  top:8px;
  right: 35px;
}

#alert-primary, #alert-addCart{
  display: none;
}

.shows p{
  display: block;
  text-align: right;
  padding-right: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}   

.shows:hover{
  background: azure;
}

.dropdown-menu h4, .dropdown-menu h5{
  font-weight: 600;
}

.dropdown-menu {
  overflow-y: scroll;
  left: -100px;
}

#checkout {
  float: right;
}

#checkout a {
  color: white;
}
